[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=SmillaEnlarger
GenericName=SmillaEnlarger
Comment=Enlarge cropped piece of image

Type=Application
Categories=Graphics;Photography;

Exec=smillaenlarger
TryExec=smillaenlarger
Icon=smilla

Terminal=false
StartupNotify=true

MimeType=application/x-smilla;image/bmp;image/jpeg;image/png;image/tiff;
